@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;


}

#bloc_page{
	width: 100%;
	
	
}


nav img{

	width: 97px;
	height: 49px;
	padding: 1rem 0 0 0;
	margin-right: auto;
}

nav{

	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	

}
nav .onglet a{
	padding-right: 2rem;
}
nav .onglets a{
	padding: 2rem;
	
	
	
}
nav .onglet a{

	text-decoration: none;
	padding: 3rem 2rem ;



}
nav .onglet a:hover{
	border-top: 4px solid #0065FC;
	padding-top: 30px;
	color: #0065FC;
	


}
.onglets{
	display: flex;
	
}
.sign_up{
	color: #0065FC;
	font-weight: bold;
	
}


h1 {
	font-size: 22px;

}

header .filtres a{

	margin-right: 20px;
	text-decoration: none;
	margin-left: 10px;
	border: 3px #F2F2F2 solid;
	border-radius: 30px;
	padding: 3px 20px 3px 0px;
	font-size: 20px;
	color: black;
	
}


header p{
	margin-bottom: 15px;
	
}

.info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.info i{
	
	border: 3px #F2F2F2 solid;
	color: #0065FC;
	border-radius: 100%;
	padding: 8px 12px 8px 12px;
	margin: 0;
}
.info p{
	margin-left: 15px ;


}
button{
	padding: 12px 15px 12px 15px;
	background-color: #0065FC;
	border: 1px #0065FC solid;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: white;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
input{
	padding: 10px 22px 10px 22px;
	font-size: 15px;
	font-weight: bold;

	
	
}
#searchicon{
	display: none;
}
.search{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0 0 20px 0;



}
.search #map{
	border: 1px #F2F2F2 solid;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	padding: 12px 15px 12px 15px;
	color: black;
	background-color: #F2F2F2;


}
.filtres{
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;
	font-weight: bold;

}
.filtres i{
	flex-wrap: wrap;
	margin-right: 30px;
	border: 2px #DEEBFF solid;
	border-radius: 50px;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	color: #0065FC;
	background-color: #DEEBFF;
	transition: 800ms;
}
.filtres i:hover{
	background-color: #0065FC;
	color: #DEEBFF;
	transform: rotate(360deg);

}
.filtres a:hover{
	background-color:  #DEEBFF;
}
section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 16px;
}
.section1{
	background-color: #F2F2F2;
	width: calc(65% - 40px);
	height: 650px;
	border-radius: 20px;

}
.section1 .img_section1{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: flex-end;
	flex-direction: row;



}




.ligne{
	display: flex;
	flex-direction: row;
}
.titre_section1{
	display: flex;
	padding: 30px 0 0 40px;
	font-size: 20px;
	justify-content: space-between;
	align-items: center;
}
.titre_section1 i{
	padding-right: 30px;
	font-size: 23px;

}
section .img_section1 img{
	
	width: 260px;
	height: 140px;
	padding: 5px 0 0 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	

}
.img_hebergement1{
	
	
	background-color: white;
	width: 270px;
	height: 230px;
	border-radius: 20px;
	margin-bottom: 30px;
	
}
.img_hebergement1 h3{
	padding-left: 12px;
	margin: 6px 0 3px 0;

}
.img_hebergement1 p{
	padding-left: 12px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.img_hebergement1 i{
	
	font-size: 14px;
	color: #0065FC;
	margin: 0;
	

	}
.img_hebergement1 .star{
	margin-left: 12px;



}

.img_hebergement1:hover{
	transform: scale(1.1);
	transition: ease 0.4s;
}
.section2{
	
	background-color: #F2F2F2;
	width: calc(35% - 40px);
	margin-left: 40px;
	height: 650px;
	border-radius: 20px;

}
.img-section2{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 100%;
	
}
.img_hebergement2{
	display: flex;
	
	background-color: white;
	width: 90%;
	height: 25%;
	margin-bottom: 1.5rem;
	border-radius: 20px;
}
.img_hebergement2 img{
	width: 150px;
	height: 155px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin: 1px;
}
.section2 .titre_section2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;

}
.titre_section2 h2{
	margin-left: 5%;
}
.titre_section2 i{
	margin-right: 7%;
}
a{
	text-decoration: none;
	color: black;
}
.details h3{
	
	
	margin: 0;

	
}
.img3{
	width: 150px;
}
.details{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.details p{
	margin-top: 5px;
	
	
}
.img_hebergement2 i{
	
	font-size: 14px;
	color: #0065FC;
	align-items: flex-end;
	align-self: flex-end;
	margin-top: 21px;
	
}
.star1 i{
	
}

.plus{
	font-weight: bold;
	padding-left: 40px;
	font-size: 17px;
}
.etoile i{
	color: #DCDCDC;
}
.img_hebergement2:hover{
	transform: scale(1.1);
	transition: ease 0.4s;
}
.details{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/*----------- section 3---------------*/
.titre_activité{
	margin: 15px 0 15px 15px;
}
.bloc_image h3 {
	padding-left: 15px;
	
}
.bloc_image{
	display: flex;
	height: 100%;
	flex-wrap: wrap;


}
.image-marseille{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	margin-right: 3rem;
	box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
	
	border-radius: 20px;

	
}
.image-marseille:hover{
	transform: scale(1.1); transition: ease 0.4s;
}
.image-marseille img{
	width: 25%;
	object-fit: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;


}
.image1-4 img{
	width: 100%;
	height: 500px;
}
.image1-4{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 25%;
	
}
.image2-3 img{

	}
.image2-3{
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: space-between;
	
	
}
.image2{
	width: 100%;
	height: 100%;
	
}
.image2 img{
	width: 100%;
	height: 220px;
	
}
.image3{
	width: 100%;


}
.image3 img{
	width: 100%;
	height: 160px;

}
.image5-6{
	display: flex;
	flex-direction: column;
	width: 25%;
	justify-content: space-between;
	
}
.image5{
	width: 100%;
}
.image5 img{
	width: 100%;
	height: 160px;
}
.image6{
	width: 100%;
}
.image6 img{
	width: 100%;
	height: 220px;
}
/*------footer----------*/
footer{
	
	width: 100%;
	height: 200px;
	background-color: #F2F2F2;
	margin-top: 60px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	
}
.bloc_footer{
	display: flex;
	flex-direction: column;
	padding: 30px;

}
.bloc_footer h3{
	margin-bottom: 15px;
}
.bloc_footer a{
	margin-bottom: 10px;
}
.bloc_footer_assistance{
	display: flex;
	flex-direction: column;
	margin-right: 25%;
	padding: 30px;
}
.bloc_footer_assistance a{
	margin-bottom: 10px;
}
.footer a:hover{
	cursor: pointer;
	text-decoration-line: underline;
}

@media (max-width: 1440px) {
	#bloc_page{
		max-width: 100%;

	}
	.ligne{
		flex-direction: column-reverse;
		max-width: 100%;
	}
	.section2{
		width: 100%;
		height: 300px;
		margin: 0;
		
		
	}
	.img-section2{
		display: flex;
		flex-direction: row;


		

	}
	.section1{
		width: 100%;
		margin-top: 50px;
	}
	.img_hebergement2{
		display: flex;
		flex-direction: row;
		width: 30%;



	}
	.details{
	display: flex;
		flex-direction: column;
	}
	.filtres{
		flex-wrap: wrap;
	}
}
@media (max-width: 548px){

	.onglets {
		order: 1;
		width: 100%;
		border-bottom: 4px solid #F2F2F2;

	}
	.onglets a {
		width: 50%;
		text-align: center;
	}
	.onglets a:hover{
		border-bottom: 4px solid #0065FC;
	}

	#searchtext{
		display: none;

	}
	#searchicon{
		display: block;
	}
	.filtres a{
		margin-top: 10px;
	}
	.section1{
		width: 100%;
	}
}
@media (max-width: 1024px) {

	.img-section2{
		display: flex;
		flex-direction: column;


	}
	.img_hebergement2{
		width: 100%;

	}
	.section2{
		height: auto;
	}
	.section1{
		height: auto;
	}
	.section3{
		width: 100%;
	}

	.filtres a{
		margin-top: 10px;
	}
	
	.image1-4 {
		width: 100%;
		height: auto;
		flex-direction: column;
	}

	.image2-3{
		width: 100%;
		height: auto;
		flex-direction: column;
	}
	.image5-6{
		width: 100%;
		height: auto;
		flex-direction: column;

	}
	.image-marseille {
		height: 200px;
		margin-bottom: 20px;
	}
	.image-marseille img{
		height: 140px;
	}
	.image2,.image3,.image5,.image6{
		height: 200px;

	}
	.bloc_image{
		flex-direction: column;
	}
	.bloc_footer{
		flex-direction: column;
	}
}

